@charset "ISO-8859-1";

.pageHeader nav {
	margin-left: 300px;
	/*Increase this value to move the links to the right*/
	position: absolute;
	top: 40%;
	font-size: 15px;
	text-transform: uppercase;
}

.pageHeader nav ul li {
	display: inline;
	padding: 10px;
}

.pageHeader nav ul {
	display: inline;
	position: relative;
}

.pageHeader {
	background-color: #0A0908;
	width: 100%;
	min-height: 90px;
	position: relative;
}

.dropdown-content {
	background-color: #0A0908;
}

.dropdown-content li {
	display: block !important;
}

#logo {
	position: relative;
}

#logo img {
	width: 250px;
	object-fit: contain;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(5%, 25%);
	/*Changing one of the values here (I don't know which one) should move the image*/
}

#cart img {
	width: 50px;
	object-fit: contain;
	position: absolute;
	top: 15%;
	left: 85%;
	transform: translate(50%, 25%);
	/*Changing one of the values here (I don't know which one) should move the image*/
}


#sign-in {
	background-color: green;
}

#sign-in-div {
	width: 80px;
	padding: 0px;
}

#store-div {
	width: 100px;
	padding: 0px;
}

@media screen and (max-width: 700px) {
	.pageHeader nav {
		display: none;
	}
	#logo img {
		width: 250px;
		object-fit: contain;
		position: relative;
		top: 0%;
		left: 0%;
		transform: translate(0%, 25%);
	}
	#logo {
		text-align: center;
	}
	
	#cart img{
		display:none;
	}
}