@charset "ISO-8859-1";

main {
	width: 70%;
	
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	
	overflow: hidden;
}

div#row-1 {
	width: 100%;
	
	background-image: linear-gradient(to top, rgb(20 26 29), rgb(34 46 51),  #304552);
	
	overflow: hidden; 
}

div#sliderImages {
	width: 60%;
 
	
    float: left;
	
	margin-right: 20px;
}

img#imageSlider {
	width: 100%;
	max-height: 400px;
	
	object-fit: contain;
}

div#shortDescription {
	width: 35%;
	
 	float: left; 
}

span.infoShortDescription {
	margin-right: 10px;
	
	color: #73ceff;
}

table, tbody, tr, td {
	width: 100%;	
}

img#imageBanner {
	width: 100%;
}





div#row-2 {
	width: 100%;
	
	margin-top: 100px;
}

div#description {
	width: 70%;
	
	float: left;	
}

div#description h1 {
	height: 40px;
	width: 100%;

	margin-top: 10px;
	
	text-align: left;
}

div#description button {
	background-image: linear-gradient(to right top, #0a720a, #30830b, #4b940c, #66a40c, #81b50d);	
	color: white;
	
	width: 100px;
	height: 30px;
	
	margin-right: 5px;
}

div#description button:hover{
	background-image: linear-gradient(to right top, #289628, #49a428, #65b129, #7fbe29, #9acb2b);
}

div#requirements {
	width: 25%;
	
	float: left;
	
	margin: 2%;
	margin-right: 3%;
	margin-top: 0;
	
	background-color: #304552;
}

div#reqBar {
	width: 100%;
	
	background-color: rgb(8 10 11);
}

button.reqButton {
	padding-right: 1px;
	padding-left: 1px;
	
	text-align: center;
	
	display: inline-block;
}

div.reqSchede {
	width: 100%;
	
	display: none;
}

#pegi{
	float: right;
}

#pegi img{
	width: 98px;
	height: 120px;
}

span#rightText {
	float: right;
}

#updateGameButton{
	margin-bottom: 5px;
}




@media screen and (max-width: 1400px) {
	main {
		width: 90%;
	}
}


@media screen and (max-width: 900px) {
	main {
	  	width: 83%;
	}
	
	div#sliderImages {
		width: 100%;
		
		min-height: auto;
	}
	
	div#shortDescription {
		width: 75%;
		
		float: none;
		
		margin: auto;
	}
	
	div#row-2 {
		width: 100%;
	
		margin-top: 50px;
	}
	
	div#description {
		width: 100%;
	}
	
	div#requirements {
		width: 60%;
		
		float: left;
		margin: auto;
		margin-top: 10px;
	}
	
	#pegi{
		width: 20%;
		
		float: left;
		
		margin-left: 15%;
	}
}

@media screen and (max-width: 600px) {
	main {
		width: 98%;
	}
	
	div#sliderImages {
		width: 100%;
		
		min-height: auto;
	}
	
	div#row-2 {
		width: 100%;
	
		margin-top: 50px;
	}
	
	div#description {
		width: 100%;
	}
	
	div#description h1 {
		display: block;
		
		text-align: center;
	}
	
	div#description button {
		float: none;
	}
	
	div#requirements {
		width: 350px;

		float: none;
		
		margin: 0px;
		margin: auto;
		margin-top: 10px;
		
		display: inline-block;
	}
	
	#pegi{
		margin-left: 20%;

		float: none;
	}
}

@media screen and (max-width: 400px) {
	div#requirements {
		width: 300px;
	}

	div#description button {
		width: 95px;
	
		margin-right: 3px;
		padding-right: 2px;
	}
}