@charset "ISO-8859-1";

main {
	width: 70%;
	
	margin: auto;
	margin-top: 10%;
	
	overflow: hidden;
}

div#row-1 {
	width: 100%;
	
	background-color: red;
	
	overflow: hidden; 
}

div#sliderImages {
	width: 60%;
	
    float: left;
	
	margin-right: 20px;
	
	background-color: black;
	min-height: 400px; /*TESTING*/
}

img#imageSlider {
	width: 100%;
}

div#shortDescription {
	width: 35%;
	
 	float: left; 
}


table, tbody, tr, td {
	width: 100%;	
}

img#imageBanner {
	width: 100%;
	
}





div#row-2 {
	width: 100%;
	
	margin-top: 100px;
}

div#description {
	width: 70%;
	
	float: left;	
	
	background-color: green;
}

div#description h1 {
	text-align: center;
}

div#requirements {
	width: 25%;
	
/* 	min-height: 30px; */
	
	float: left;
	
	margin: 2%;
	margin-right: 3%;
	margin-top: 0;
	
	background-color: blue;
}

div#reqBar {
	width: 100%;
	
	background-color: purple;
}

button.reqButton {
	padding-right: 20px;
	padding-left: 20px;
	
	text-align: center;
	
	display: inline-block;
}

div.reqSchede {
	width: 100%;
	
	display: none;
}





@media screen and (max-width: 1400px) {
	main {
		width: 90%;
	}
}


@media screen and (max-width: 900px) {
	main {
	  	width: 80%;
	}
	
	div#sliderImages {
		width: 100%;
		
		min-height: auto;
	}
	
	div#shortDescription {
		width: 55%;
		
		float: none;
		
		margin: auto;
	}
	
	div#row-2 {
		width: 100%;
	
		margin-top: 50px;
	}
	
	div#description {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	main {
		width: 98%;
	}
	
	div#sliderImages {
		width: 100%;
		
		min-height: auto;
	}
	
	div#shortDescription {
		width: 55%;
		
		margin: auto;
	}
	
	div#row-2 {
		width: 100%;
	
		margin-top: 50px;
	}
	
	div#description {
		width: 100%;
	}
}