@charset "ISO-8859-1";

main {
	width: 80%;
	margin: auto;
	margin-top: 100px;
	
	background-color: rgba(15,20,23,1);
	padding: 10px;
	overflow: hidden;
}

h1 {
	text-align: center;
	padding-bottom: 5px;
}

input {
	margin-bottom: 10px;
	
	display: block;
}

#filterSection, #tableSection {
	float: left;
	
	margin: auto;
}

label {
	display: inline-block;
}

#filterSection {
	width: 20%;
}

#tableSection {
	width: 80%;
}

table {
	width: 100%;
}

table, th, tr, td {
	border: 1px solid #F2F4F3;
	border-collapse: collapse;
}

th, td{
	padding: 5px;
	text-align: center;
}


@media screen and (max-width: 1200px){
	main {
		width: 90%;
	}
	
	#filterSection {
		width: 30%;
	}

	#tableSection {
		width: 70%;
	}
}

@media screen and (max-width: 700px){
	main {
		width: 95%;
	}
	
	#filterSection {
		width: 100%;
	}

	#tableSection {
		width: 100%;
	}	
}