@charset "ISO-8859-1";



main {
	min-width: 80%;
	height:100%;
	float:right;

	margin-bottom: 5%;
	overflow: hidden;

}

h1{
	margin-bottom: 10px;
}

#centerDiv{
	padding: 2%;
	padding-left:10%;
	margin:auto;
}
textarea{
	width: 45%;
	height: 150px;
	margin-bottom: 10px;
}
#passwordDiv{
	margin-bottom: 30px;
}

#errorDiv{
	margin-bottom:20px;
}


#centerDiv input, #centerDiv label{
	display: block;
}

#centerDiv label{
	line-height: 15px;
}
#centerDiv input[type=text], #centerDiv input[type=password], #centerDiv input[type=email]{
	width: 300px;
	height: 25px
}

#centerDiv input[type=submit]{
	width: 100px;
	height: 30px;
	margin-top: 50px;
}

.inputDiv{
	margin-bottom: 10px
}



@media screen and (max-width: 800px){
	main{
		min-width: 100%;
	}

	#centerDiv input[type=submit]{
	width: 310px;
	}

	
	textarea{
		width: 310px;
		height: 200px;
	}

}

@media screen and (max-width: 540px){

	#centerDiv input[type=text], #centerDiv input[type=password], #centerDiv input[type=email]{
		width: 90%;
		height: 25px
	}
	#centerDiv input[type=submit]{
	width: 92%;
	}
	textarea{
	width: 95%;
	height: 150px;
	margin-bottom: 10px;
	}
	h1{
		text-align: center;
	}
	#centerDiv{
		padding-left: 5%;
	}
}