@charset "ISO-8859-1";

main {
	margin-top: 5%;
	margin-bottom: 5%;
	overflow: hidden;
}

#formDiv{
	width: 60%;
	margin: auto;
	background: rgba(15,20,23,1);
	padding: 5px;

}

div{
	margin-bottom: 10px;
}

textarea{
	resize: both;
}

#errorMessage {
	color: red;
	text-align: center;
}

@media screen and (max-width: 700px) {
	#formDiv{
		width: 80%;
		margin: 2%;
	}
	textarea{
		width: 100%;
	}
}